@import '../../styles/_settings.scss';

.base {
  width: 90%;
  max-width: 1024px;
}

.component {
  @extend .base;
  margin: 0 auto;
  padding: $base-size 0 $base-size 0;
}

.alert {
  @extend .base;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto 0 auto;
}