$color-dark: #2c3e50;
$color-main: #2980b9;
$color-light: #ecf0f1;
$color-light-opaque: rgba(236, 240, 241, 0.25);

$font-main: 'Roboto', sans-serif;

$base-size: 14px;

$radius: 12px;

@mixin resetInputStyle {
  border: none;
  padding: 0;
}