@import '../../styles/settings';

.error {
  max-width: 400px;
  margin: $base-size auto 0 0;
  padding: $base-size;
  background-color: $color-error;
  color: $color-light;
  font-family: $font-main;
  border-radius: $radius;
  box-shadow: $elevation-3;
}

.wrapper {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 30px;
  width: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages {
  :not(:last-child) {
    margin-bottom: $base-size;
  }
}

.message {
  font-size: 16px;
  margin: 0 $base-size 0 $base-size;
}

.closeButton {
  @include resetInputStyle();
  height: 30px;
  width: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: all $duration ease-in-out;

  svg {
    font-size: 20px;
    color: $color-light;
  }
}

@media (pointer: coarse) {
  .closeButton:hover {
    transform: scale(1.4);
  }
}

@media (pointer: fine) {
  .closeButton:hover {
    transform: scale(1.4);
  }
}