@import '../../styles/settings';

.header {
  padding: calc($base-size / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  h2 {
    font-family: $font-main;
    font-size: 18px;
  }
}

.dropdownToggleButton {
  @include resetInputStyle();
  background-color: transparent;
  cursor: pointer;
}

.chevronIcon {
  font-size: 30px;
  color: $color-light;
  transition: all $duration ease-in-out;
}

@media (pointer: coarse) {
  .header:hover {
    .chevronIcon {
      transform: scale(1.2);
    }
  }
  
}

@media (pointer: fine) {
  .header:hover {
    .chevronIcon {
      transform: scale(1.2);
    }
  }
}