@import '../../styles/_settings.scss';

.base {
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .param, .param_small {
    font-weight: bold;
  }

  p {
    width: fit-content;
    text-align: center;
    margin-bottom: 0;
  }
}

.component {
  @extend .base;
  
  p {
    font-size: 14px;
    margin-top: 8px;
  }
}

.small {
  @extend .base;

  p {
    font-size: 12px;
    margin-top: 6px;
  }
}

.param {
  font-size: 40px;
}

.param_small {
  font-size: 20px;
}